.side {
  color: white;
  background-color: #0b2752;
}
.header {
  /* @apply p-2 flex items-center justify-between; */
  background: #fff;
  height: 42px;
  color: #111827;
}

.appName {
  /* @apply text-base; */
}
